#note-input-panel{
    width: 50vw;
    margin: auto;
    margin-top: 30px;
}

#note-container{
    /* margin: auto; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.noteCard {
    text-align: center;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

.btn, .btn:hover {
    background-color: blue;
    color: white;
    border: 2px solid blue;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
}